{% extends 'layouts/base.html' %}

{% block content %}

<h1>About Page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ipsum, unde quasi nemo fugiat exercitationem aut temporibus! Perferendis, earum non porro nostrum voluptate praesentium numquam eligendi totam placeat deleniti consectetur? Quasi dolore odit amet exercitationem, similique non aperiam quis illum officia deserunt, blanditiis vero soluta debitis nulla doloremque, deleniti qui distinctio animi. Est asperiores quaerat ipsa doloremque quae numquam cupiditate similique ipsum libero cum laudantium error beatae suscipit odit iusto tempore, labore delectus, odio accusamus rerum explicabo! Cumque facere consectetur sapiente, reiciendis culpa totam non molestiae iusto ullam maiores quae et, fuga odio dicta aliquid ratione! Adipisci minima hic provident.</p>

{% endblock %}